<template>
  <div>
    <!-- <img alt="Vue logo" src="./assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/> -->

    <!-- Header Section Start -->
    <header id="home" class="hero-area">    
      <div class="overlay">
        <span></span>
        <span></span>
      </div>
      <navbar v-bind="{ admin:true }" />
      <jumbotron v-bind="{ data:jumbotron, admin:true, token:token }" />
    </header>
    <!-- Header Section End --> 


    <!-- Services Section Start -->
    <service v-bind="{ data:service, admin:true, token:token }" />    
    <!-- Services Section End -->


    <!-- Business Plan Section Start -->
    <plan v-bind="{ data:plan, admin:true, token:token }" />
    <!-- Business Plan Section End -->


    <!-- Cool Fetatures Section Start -->
    <featur v-bind="{ data:feature, admin:true, token:token }" />
    <!-- Cool Fetatures Section End --> 

    <!-- Footer Section Start -->
    <foot v-bind="{ data:foot, admin:true, token:token }" />
    <!-- Footer Section End --> 

    <!-- Go To Top Link -->
    <a href="#" class="back-to-top page-scroll">
      <i class="lni-chevron-up"></i>
    </a> 

  </div>
</template>

<script>
import Plan from '../components/Plan.vue'
import Jumbotron from '../components/Jumbotron.vue'
import Navbar from '../components/Navbar.vue'
import Service from '../components/Service.vue'
import Featur from '../components/Featur.vue'
import Foot from '../components/Foot.vue'

export default {
  name: 'App',
  components: {
    Jumbotron,
    Service,
    Navbar,
    Plan,
    Featur,
    Foot
  },
  data: () => {
    return {
      jumbotron : {},
      service : [],
      plan : {},
      feature: {
        header: {},
        body: []
      },
      foot: {},
      token: ''
    }
  },
  async created  () {
    await this.loadData()
  },
  methods: {
    async loadData () {
      this.token = localStorage.getItem('token')
      if (!this.token || this.token=='undefined') {
        alert("Username atau Password anda salah");
        return this.$router.push("/");
      }

      localStorage.setItem('isAdmin', true)
      await this.axios.get("http://localhost:8000/api/v1/article", {
        // withCredentials: false,
        headers: {
          "Accept": "application/json",
          "Content-Type": "application/json"
        }
      },{
        auth: {
          username: '',
          password: ''
        }
      })
      .then( async res => {
        this.jumbotron = res.data.data.jumbotron[0]
        this.service = res.data.data.service
        this.plan = res.data.data.plan[0]
        this.feature.header = res.data.data.featureText[0]
        this.feature.body = res.data.data.feature
        this.foot = res.data.data.footer[0]
      })
    },
  }
}
</script>
