<template>
  <div>
    <!-- <img alt="Vue logo" src="./assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/> -->
    
    <!-- Header Section Start -->
    <header id="home" class="hero-area">    
      <div class="overlay">
        <span></span>
        <span></span>
      </div>
      <navbar />
      <jumbotron v-bind:data=jumbotron />
    </header>
    <!-- Header Section End --> 


    <!-- Services Section Start -->
    <service v-bind:data=service />    
    <!-- Services Section End -->


    <!-- Business Plan Section Start -->
    <plan v-bind:data=plan />
    <!-- Business Plan Section End -->


    <!-- Cool Fetatures Section Start -->
    <featur v-bind:data=feature />
    <!-- Cool Fetatures Section End --> 

    <!-- Footer Section Start -->
    <foot v-bind:data=foot />
    <!-- Footer Section End --> 

    <!-- Go To Top Link -->
    <a href="#" class="back-to-top page-scroll">
      <i class="lni-chevron-up"></i>
    </a> 

  </div>
</template>

<script>
import Plan from '../components/Plan.vue'
import Jumbotron from '../components/Jumbotron.vue'
import Navbar from '../components/Navbar.vue'
import Service from '../components/Service.vue'
import Featur from '../components/Featur.vue'
import Foot from '../components/Foot.vue'

export default {
  name: 'App',
  components: {
    Jumbotron,
    Service,
    Navbar,
    Plan,
    Featur,
    Foot
  },
  data: () => {
    return {
      jumbotron : {},
      service : [],
      plan : {},
      feature: {
        header: {},
        body: []
      },
      foot: {}
    }
  },
  created() {
    this.loadData()
  },
  methods: {
    async loadData () {
      await this.axios.get("http://localhost:8000/api/v1/article", {
        headers: {
          "Accept": "application/json",
          "Content-Type": "application/json"
        }
      },{
        auth: {
          username: '',
          password: ''
        }
      })
      .then(res => {
        this.jumbotron = res.data.data.jumbotron[0]
        this.service = res.data.data.service
        this.plan = res.data.data.plan[0]
        this.feature.head = res.data.data.featureText[0]
        this.feature.body = res.data.data.feature
        this.foot = res.data.data.footer[0]
      })
    },
  }
}
</script>
