<template>
  <section id="features" class="section">
      <div class="container">
        <!-- Start Row -->
        <div class="row">
          <div class="col-lg-12 temp">
              <button v-on:click="onclick(data.header)" class="hover" data-bs-toggle="modal" data-bs-target="#featurtextModal" v-show="admin">
                Edit
              </button>
            <div class="features-text section-header text-center">  
              <div>
                <h2 class="section-title">{{ data.header.title }}</h2>
                <div class="desc-text">
                  <p>{{ data.header.content }}</p>
                </div>
              </div> 
            </div>
          </div>

        </div>
        <!-- End Row -->
        <!-- Start Row -->
        <div class="row featured-bg">
         <!-- Start Col -->
          <div v-for="x in data.body" :key="x.title" v-show="admin? admin : x.isActive"
          class="col-lg-6 col-md-6 col-xs-12 p-0 temp">
            <button v-on:click="onclickF(x)"
              class="hover" 
              data-bs-toggle="modal" 
              data-bs-target="#modalFeature" v-show="admin">
                Edit
              </button>
             <!-- Start Fetatures -->
            <div class="feature-item" >
               <div class="feature-icon float-left">
                 <i v-bind:class="x.icon"></i>
               </div>
               <div class="feature-info float-left">
                 <h4>{{ x.title }}</h4>
                 <p>{{ x.content }}</p>
               </div>
            </div>
            <!-- End Fetatures -->
          </div>
           <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>

      <div class="modal fade" id="featurtextModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Feature Text</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form @submit.prevent="addData()">
                <div class="form-group">
                  <label>Title</label>
                  <input
                    type="textfield"
                    class="form-control"
                    placeholder="Input the title"
                    v-model="form.title"
                    required
                  >
                </div>
                <div class="form-group">
                  <label>Content</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                    placeholder="Input the content"
                    v-model="form.content"
                    required
                  />
                </div>
                <button class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="modalFeature" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Feature</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form @submit.prevent="addDataF()">
                <div class="form-group">
                  <label>Title</label>
                  <input
                    type="textfield"
                    class="form-control"
                    placeholder="Input the title"
                    v-model="formF.title"
                    required
                  >
                </div>
                <div class="form-group">
                  <label>Content</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                    placeholder="Input the content"
                    v-model="formF.content"
                    required
                  />
                </div>
                <div class="form-group">
                    <label>Active?</label>
                  <div class='form-check form-switch'>
                    <input class='form-check-input' type='checkbox' 
                      id='flexSwitchCheckDefault' 
                      v-model="formF.isActive"
                    >
                  </div>
                </div>
                <button class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>

    </section>
</template>

<style scoped>
  .form-check {
    margin-left: 20px !important;
  }

  .temp {
    position: relative;
  }

  .temp .hover {
    width: 100%;
    height: 100%;
    font-size: 30px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    position: absolute;
    background: rgba(1, 29, 143, 0.8);
    cursor: pointer;
    z-index: 1;
  }
</style>

<script>
  export default {
    name: 'Featur',
    props:{
      data: Object,
      admin: Boolean,
      token: String
    },
    data: () => {
      return {
        form: {
          title: '',
          content: ''
        },
        formF: {
          title: '',
          content: '',
          isActive: true
        }
      }
    },
    methods: {
      onclick(param) {
        this.form = param
      },
      onclickF(param) {
        this.formF = param
      },
      addData() {
        this.axios.post("http://localhost:8000/api/v1/article/"+this.form.id, {
            _method: 'PUT',
            title: this.form.title,
            content: this.form.content
          },{
            headers: {
              "Accept": "application/json",
              "Content-Type": "application/json",
              "Authorization": `Bearer ${this.token}`
            }
        })
        .then(() => {
          alert("Data Telah di-Update");
          this.$router.go('/admin');
        })
      },
      addDataF() {
        this.axios.post("http://localhost:8000/api/v1/article/"+this.formF.id, {
            _method: 'PUT',
            title: this.formF.title,
            content: this.formF.content,
            isActive: this.formF.isActive
          },{
            headers: {
              "Accept": "application/json",
              "Content-Type": "application/json",
              "Authorization": `Bearer ${this.token}`
            }
        })
        .then(() => {
          alert("Data Telah di-Update");
          this.$router.go('/admin');
        })
      },
    }
  }
</script>
