<template>
  <footer>
      <!-- Footer Area Start -->
      <section id="footer-Content">
        <div class="container">
          <!-- Start Row -->
          <div class="row align-items-center">

          <!-- Start Col -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              
              <div>
               <img src="../assets/footer-logo.png" alt="">
              </div>
            </div>
             <!-- End Col -->
              <!-- Start Col -->
            <div class="col-lg-5 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget temp">
                <button v-on:click="onclick(data)" class="hover" data-bs-toggle="modal" data-bs-target="#footModal" v-show="admin">
                  Edit
                </button>
                <p>
                  {{data.content}}
                </p>
              </div>
            </div>
             <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
        <!-- Copyright Start  -->

        <div class="copyright">
          <div class="container">
            <!-- Star Row -->
            <div class="row">
              <div class="col-md-12">
                <div class="site-info text-center">
                  <p>Crafted by <a href="http://uideck.com" rel="nofollow">UIdeck</a></p>
                </div>              
                
              </div>
              <!-- End Col -->
            </div>
            <!-- End Row -->
          </div>
        </div>
      <!-- Copyright End -->
      </section>
      <!-- Footer area End -->
        
      <div class="modal fade" id="footModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Footer</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form @submit.prevent="addData()">
                <div class="form-group">
                  <label>Content</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                    placeholder="Input the content"
                    v-model="form.content"
                    required
                  />
                </div>
                <button class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      
    </footer>
</template>

<style scoped>
  .temp {
    position: relative;
  }

  .temp .hover {
    width: 100%;
    height: 100%;
    font-size: 30px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    position: absolute;
    background: rgba(1, 29, 143, 0.8);
    cursor: pointer;
  }
</style>

<script>
  export default {
    name: 'Foot',
    props:{
      data: Object,
      admin: Boolean,
      token: String
    },
    data: () => {
      return {
        form: {
          content: ''
        }
      }
    },
    methods: {
      onclick(param) {
        this.form = param
      },
      addData() {
        this.axios.post("http://localhost:8000/api/v1/article/"+this.form.id, {
            _method: 'PUT',
            content: this.form.content
          },{
            headers: {
              "Accept": "application/json",
              "Content-Type": "application/json",
              "Authorization": `Bearer ${this.token}`
            }
        })
        .then(() => {
          alert("Data Telah di-Update");
          this.$router.go('/admin');
        })
      },
    }
  }
</script>