<template>
  <section>

    <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar" style="z-index:2">
      <div class="container">
        <a href="/" class="navbar-brand"><img src="../assets/logo.png" alt=""></a>       
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <i class="lni-menu"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto w-100 justify-content-end">
            <li class="nav-item">
              <a class="nav-link page-scroll" href="#home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link page-scroll" href="#services">About</a>
            </li>  
            <li class="nav-item">
              <a class="nav-link page-scroll" href="#features">Services</a>
            </li>
            <li class="nav-item">
              <button class="btn btn-singin" 
              data-bs-toggle="modal" data-bs-target="#loginModal" v-show="!admin && !isAdmin">
                Masuk
              </button>
              <button class="btn btn-singin" v-on:click="admins()" 
              data-bs-toggle="modal" v-show="isAdmin && !admin">
                Admin
              </button>
              <button class="btn btn-singin" v-on:click="logout()" 
              data-bs-toggle="modal" v-show="admin">
                Keluar
              </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Login</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form @submit.prevent="addData()">
              <div class="form-group">
                <label>Username</label>
                <input
                  type="textfield"
                  class="form-control"
                  placeholder="Input your username"
                  v-model="form.username"
                  required
                >
              </div>
              <div class="form-group">
                <label>Password</label>
                <input
                  type="textfield"
                  class="form-control"
                  placeholder="Input your password"
                  v-model="form.password"
                  required
                >
              </div>
              <button type="submit" class="btn btn-primary" >Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'Navbar',
    props: {
      admin: Boolean
    },
    data: () => {
      return {
        form: {
          username: '',
          password: ''
        },
        isAdmin: localStorage.getItem('isAdmin')
      }
    },
    methods: {
      addData() {
        this.axios.post("http://localhost:8000/api/v1/login", {
          username: this.form.username,
          password: this.form.password,
          headers: {
            "Accept": "application/json",
            "Content-Type": "application/json"
          }
        },{
          auth: {
            username: '',
            password: ''
          }
        })
        .then(res => {
          localStorage.setItem('token', res.data.access_token)
          // alert("Data Telah di-Update");
          window.location.replace('/admin');
        })
      },
      logout() {
        localStorage.removeItem('isAdmin')
        localStorage.removeItem('token')
        return this.$router.push("/");
      },
      admins() {
        return this.$router.push("/admin");
      }
    }
  }
</script>
