<template>
  <section id="business-plan">
    <div class="container">
      <div class="row">
        <!-- Start Col -->
        <div class="col-lg-6 col-md-12 pl-0 pt-70 pr-5">
          <div class="business-item-img">
            <img src="../assets/business/business-img.png" class="img-fluid" alt="">
          </div>
        </div>
        <!-- End Col -->
        <!-- Start Col -->
        <div class="col-lg-6 col-md-12 pl-4 temp">
          <button v-on:click="onclick(data)" class="hover" data-bs-toggle="modal" data-bs-target="#planModal" v-show="admin">
            Edit
          </button>
          <div class="business-item-info">
            <h3>{{ data.title }}</h3>
            <p>{{ data.content }}</p>
          </div>
        </div>
        <!-- End Col -->
      </div>
    </div>

    <div class="modal fade" id="planModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Planning</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form @submit.prevent="addData()">
              <div class="form-group">
                <label>Title</label>
                <input
                  type="textfield"
                  class="form-control"
                  placeholder="Input the title"
                  v-model="form.title"
                  required
                >
              </div>
              <div class="form-group">
                <label>Content</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                  placeholder="Input the content"
                  v-model="form.content"
                  required
                />
              </div>
              <button class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>

  </section>
</template>

<style scoped>
  .temp {
    position: relative;
  }

  .temp .hover {
    width: 100%;
    height: 100%;
    font-size: 30px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    position: absolute;
    background: rgba(1, 29, 143, 0.8);
    cursor: pointer;
  }
</style>

<script>
  export default {
    name: 'Plan',
    props:{
      data: Object,
      admin: Boolean,
      token: String
    },
    data: () => {
      return {
        form: {
          title: '',
          content: ''
        }
      }
    },
    methods: {
      onclick(param) {
        this.form = param
      },
      addData() {
        this.axios.post("http://localhost:8000/api/v1/article/"+this.form.id, {
            _method: 'PUT',
            title: this.form.title,
            content: this.form.content
          },{
            headers: {
              "Accept": "application/json",
              "Content-Type": "application/json",
              "Authorization": `Bearer ${this.token}`
            }
        })
        .then(() => {
          alert("Data Telah di-Update");
          this.$router.go('/admin');
        })
      },
    }
  }
</script>