<template>
  <section id="services" class="section">
      <div class="container">
        <div class="row justify-content-center temp">
          <!-- Start Col -->
          <div v-for="x in data" :key="x.title" v-show="admin ? admin : x.isActive"
            class="col-lg-4 col-md-6 col-xs-12">
            <button v-on:click="onclick(x)"
            class="hover" 
            data-bs-toggle="modal" 
            data-bs-target="#modalService" v-show="admin">
              Edit
            </button>
            <div class="services-item text-center">
              <div class="icon">
                <i v-bind:class="x.icon"></i>
              </div>
              <h4>{{ x.title }}</h4>
              <p>{{ x.content }}</p>
            </div>
          </div>
          <!-- End Col -->

        </div>
      </div>

      <div class="modal fade" id="modalService" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Service</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form @submit.prevent="addData()">
              <div class="form-group">
                <label>Title</label>
                <input
                  type="textfield"
                  class="form-control"
                  placeholder="Input the title"
                  v-model="form.title"
                  required
                >
              </div>
              <div class="form-group">
                <label>Content</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                  placeholder="Input the content"
                  v-model="form.content"
                  required
                />
              </div>
              <div class="form-group">
                  <label>Active?</label>
                <div class='form-check form-switch'>
                  <input class='form-check-input' type='checkbox' 
                    id='flexSwitchCheckDefault' 
                    v-model="form.isActive"
                  >
                </div>
              </div>
              <button class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    </section>
</template>

<style scoped>
  .form-check {
    margin-left: 20px !important;
  }

  .temp {
    position: relative;
  }

  .temp .hover {
    width: 100%;
    height: 100%;
    font-size: 30px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    position: absolute;
    background: rgba(1, 29, 143, 0.8);
    cursor: pointer;
    z-index: 1;
  }
</style>


<script>
  export default {
    name: 'Service',
    props:{
      data: Array,
      admin: Boolean,
      token: String
    },
    data: () => {
      return {
        form: {
          title: '',
          content: '',
          isActive: ''
        }
      }
    },
    methods: {
      onclick(param) {
        this.form = param
      },
      addData() {
        this.axios.post("http://localhost:8000/api/v1/article/"+this.form.id, {
            _method: 'PUT',
            title: this.form.title,
            content: this.form.content,
            isActive: this.form.isActive
          },{
            headers: {
              "Accept": "application/json",
              "Content-Type": "application/json",
              "Authorization": `Bearer ${this.token}`
            }
        })
        .then(() => {
          alert("Data Telah di-Update");
          this.$router.go('/admin');
        })
      },
    }
  }
</script>